.form-todo {

    margin: 2vh 0;
}

.form-todo form button {

    border-color: #000; 
}

.form-todo form {

    display: flex;
    justify-content: center;
    align-items: baseline;
}

.form-todo form div input {
    color: #000;
    border-color: #000;
}

.form-todo form div:nth-child(1) {

    margin-left: 0;
}

.form-todo form div:last-child {

    margin-right: 0;
}

.form-todo form div {

    margin: 0 3.5vh;
}

@media screen and (max-width: 450px) , (max-height: 435px) {

    .form-todo form input {

        margin-bottom: 1.4vh;
    }

    .form-todo form {

        flex-direction: column;
        align-items: center;
    }
}