.show-todos ul.list-todo {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2vh;
}

.show-todos ul.list-todo li.item-todo {

    width: 20%;
    min-width: 210px;
    margin: 3vh;
    text-align: center;
    background: rgba(204, 198, 198 , .7);
    border-radius: 8px;
    padding: 2vh 0;
}

.show-todos ul.list-set-todo {

    display: flex;
    justify-content: center;
}

.icon-remove , .icon-see {

    transition: .18s linear all;
}


.show-todos ul.list-set-todo li.item-set-todo:hover .icon-see , 
.show-todos ul.list-set-todo li.item-set-todo:hover .icon-remove
{

    transform: scale( 1.3 );
    color: rgb( 0,0,0 );
}

.show-todos ul.list-set-todo li.item-set-todo {

    padding: .5vh 2vh;
    background: rgba( 0,0,0,.12 );
    border-radius: 8px;
    color: rgb(35,35,35);
    margin: 0 2vh;
    cursor: pointer;
}

.show-todos ul.list-set-todo li.item-set-todo:nth-child(1) {

    margin-left: 0;
}

.show-todos ul.list-set-todo li.item-set-todo:last-child {

    margin-right: 0;
}

@media screen and (max-width: 480px) , (max-height:430px ) {

    .show-todos ul.list-todo {

        justify-content: center;
    }
}