.todo {

    display: flex;
    height: 100%;
}

.todo .wrap-todo {

    flex: 2;
}

@media screen and (max-width: 850px) , (max-height: 450px) {

    .todo {

        flex-direction: column;
    }
}
